.list-container {
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    background-color: #1d1d1d;
    margin: 10px;
    border-radius: 8px;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* track (background) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* draggable thumb */
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 0px;
}

/* hover state */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

