.server-container {
    height: 40px;
    width: calc(100% - 15px);
    padding: 1px;
    padding-left: 5px;
    margin: 5px;
    background-color: #2a2a2a;
    border-radius: 5px;
    transition: 0.1s;
}
.server-container:hover {
    background-color: #3a3a3a;
}
.server-name {
    color: gray;
    font-size: 14px;
    font-family: Consolas, monospace;
}
.server-ip {
    color: #6b6b6b;
    font-size: 12px;
    font-family: Consolas, monospace;
    margin-top: 3px;
}
